@import "../styles/colors";

.Projects {
    .ProjectList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        .Project {
            background-size: cover;
            background-position: center;
            border-radius: 4px;
            width: 100%;
            position: relative;
            overflow: hidden;
            .Content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: transparentize($foreground, 0.5);
                padding: 20px;
                opacity: 0;
                > h2:first-child {
                    margin-top: 0;
                }
                &:hover {
                    opacity: 1;
                }
            }
            &::before {
                content: "";
                display: inline-block;
                width: 1px;
                height: 0;
                padding-bottom: 9 / 16 * 100%;
            }
        }
    }
}