@import "../styles/colors";

.Projects {
    .ProjectList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        .Project {
            user-select: none;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            .Image {
                background-size: cover;
                background-position: center;
                width: 100%;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 0;
                    padding-bottom: 9 / 16 * 100%;
                }
            }
            .Content {
                background-color: $foreground;
                padding: 20px;
                h2 {
                    margin-top: 0;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}